*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal; 
    color: #212121;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
}

/*logo and main navigation*/
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: #2196f3;
    text-decoration: none;
}
.logo-black{
    font-family: 'Raleway';
    font-style:normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color:#212121;
    text-decoration: none;
}
.logo-white{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: #ffffff;
    text-decoration: none;
}
.nav-links .nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display:inline-flex;
    list-style: none;
    margin-right: 10px;
    text-decoration: none;
}
.nav-link:hover{
    color: #2196f3;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:visited{
    text-decoration: none;
}

/*contact and address*/
.contact-heder{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
}
.contact-heder:hover{
    color: #2196f3;
}
.contact-heder-icon{
    margin-left: 15px;
    fill: #757575;
}
.contact-heder-icon:hover{
    fill: #2196f3;
}
.address, .contact-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
}
.contact-footer{
    color: rgba(255, 255, 255, 0.6);
}
.contact-footer:hover{
    color: #2196f3;
}

/*title*/
.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding: 0px 252px;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0px;
}
.title-1{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-left: 15px;
    margin-right: 15px;
}
.title-2{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 00.03em;
    color: #ffffff;
}

/*buttons*/
.button{
    background-color: #f5f4fa;
    color: #212121;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border: none;
    padding: 10px 32px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1.6;
    margin: 0px 2px;
}
.button:hover{
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.main-button{
    background-color: #2196f3;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 13px 53px;
    border: none;
    cursor: pointer;
    margin: 0px 479px;
}

/*text*/
.text-1{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    margin:0px 15px
}

/*team*/
.co-worker{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.co-worker-profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*portfolio*/
.project-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}
.project-field{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/*customers*/
.customers-icon-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customer-icon{
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius:4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 6px;
}
.customer-icon:hover{
    fill:#2196F3;
    border: 1px solid #2196F3;
}

.lorem-ipsum-item{
    background-color: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

/*social media items*/
.social-media-logo{
    background-color:#ffffff;
    border-radius: 50px;
    fill:#AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 6px;
}
.social-media-logo:hover, .social-media-logo-footer:hover{
    background-color: #2196f3;
    fill:#ffffff
}
.social-media-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0px 15px;
}
.social-media-items-footer{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-inline-start: 0px;
}
.social-media-logo-footer{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    fill: #2196f3;
    display:flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
}

/*containers*/
.container-main{
    background-color: #2F303A;
    background: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(/images/background1.jpg), no-repeat;
    min-height: 600px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.container-footer{
    background-color: #2F303A;
    min-height: 252px;
    display:flex;
    align-items: center;
    padding: 94px 0px;
}
.container-our-team{
    background-color:#F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
    min-height: 648px;
}
.container-co-worker-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
}
.container-co-worker{
    background-color: #ffffff;
    padding-bottom: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0px;
}
.container-header{
    min-height: 80px;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    justify-items: space-between;
}
.container-nav-links{
    display: inline-flex;
    margin-right: 250px;
    margin-left: 50px;
}
.container-contact-header{
    display: inline-flex;
}

.container-lorem-ipsum{
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-list-lorem-ipsum{
    display: flex;
    list-style: none;
}
.container-what-we-doing{
    padding-bottom: 94px;
}
.container-what-we-doing-photos{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.container-portfolio-buttons{
    display: flex;
    padding-top:94px;
    align-content: center;
    justify-content: center;
}
.container-portfolio-buttons-list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.container-portfolio-projects{
    padding-bottom: 94px;
    display: flex;
}
.container-portfolio-projects-list-items{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-portfolio-projects-item{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border: 1px solid #ECECEC;
    cursor: pointer;
}
.container-portfolio-projects-item:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.container-portfolio-projects-text{
    padding-left: 15px;
    padding-right: 15px;
}
.container-our-customers{
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-social-media-footer{
    display: inline-block;
    align-items: center;
}